apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        env:
        - name: NODE_ENV
          value: {{ .Values.env.NODE_ENV | quote }}
        - name: DISCORD_TOKEN
          value: {{ .Values.env.DISCORD_TOKEN | quote }}
        - name: DISCORD_CLIENTID
          value: {{ .Values.env.DISCORD_CLIENTID | quote }}
        - name: TWITCH_CLIENTSECRET
          value: {{ .Values.env.TWITCH_CLIENTSECRET | quote }}
        - name: TWITCH_CLIENTID
          value: {{ .Values.env.TWITCH_CLIENTID | quote }}
        - name: TWITCH_SESSION_SECRET
          value: {{ .Values.env.TWITCH_SESSION_SECRET | quote }}
        - name: TWITCH_CALLBACK_URL
          value: {{ .Values.env.TWITCH_CALLBACK_URL | quote }}
        - name: TWITCH_WEBHOOK_CALLBACK_URL
          value: {{ .Values.env.TWITCH_WEBHOOK_CALLBACK_URL | quote }}
        - name: DATABASE_TYPE
          value: {{ .Values.env.DATABASE_TYPE | quote }}
        - name: DATABASE
          value: {{ .Values.env.DATABASE | quote }}
        - name: DB_USER
          value: {{ .Values.env.DB_USER | quote }}
        - name: DB_PASS
          value: {{ .Values.env.DB_PASS | quote }}
        - name: DB_HOST
          value: {{ .Values.env.DB_HOST | quote }}
        - name: DB_PORT
          value: {{ .Values.env.DB_PORT | quote }}
        {{- if .Values.persistence.enabled }}
        volumeMounts:
        - name: data
          mountPath: {{ .Values.persistence.mountPath }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      {{- if .Values.persistence.enabled }}
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: {{ .Chart.Name }}-pvc
      {{- end }}
